@import '../../style/base';

.cnt-general {
  height: 100%;

  .cnt-content {
    height: 100%;
    margin-top: 10px !important;

    .upload-list-inline .ant-upload-list-item {
      margin-right: 8px;
    }

    .upload-list-inline {
      float: left;
      width: 20%;
      min-width: 20%;
    }
  }
}
