@import '../../../style/base';

.ant-checkbox-wrapper {
  margin-right: 10px !important;
}

.ant-checkbox-group {
  width: 100%;
}

.ant-list .ant-list-split {
  width: 100%;
}

.ant-list-item {
  padding: unset;
  display: flex;
}

.align-to-list {
  width: 100%;
}
